.video-container{
    display: grid;
    grid-template-areas: 
    "title"
    "video"
    "info";
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 4%;
    margin-bottom: 4%;
}

#title{
    margin: 0;
    grid-area: title;
    background-color: lightgray;
    height: 70px;
    border-radius: 7px 7px 0px 0px;
}

#video{
    margin: 0;
    grid-area: video;
    background-color: gray;
    height: 340px;
}

#info{
    margin: 0;
    grid-area: info;
    background-color: lightgray;
    height: 70px;
}