.landing-img{
    height: 45vw;
    max-height: 700px;
    min-height: 300px;
    object-fit: cover;
}

.bio-title{
    margin: 2rem;
    text-align: center;
    font-size: 35px;
}

.bio-text{
    padding-bottom: 3rem;
    text-align: center;
    font-size: 18px;
    width: 75%;
    max-width: 1000px;
    margin: auto;
}

.video-container{
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
}

.video{
    padding: 3%;
    padding-bottom: 0;
    text-align: center;
}

#youtube-video{
    padding-top: 1%;
    width: 70vw;
    height: 42vw;
}

.explore-button-container{
    text-align: center;
    height: 120px;
}

.explore-button{
    all: unset;
    position: relative;
    top: 38%;
    border-radius: 7px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: rgb(11,110,253);
    color: white; 
    transition: background-color 0.2s;
}
.explore-button:hover{
    background-color: rgb(11, 98, 220);
    color: white; 
}

#explore-button-arrow{
    font-size: 18px;
    padding-left: 15px;
    color: white;
}

.footer-container{
    display: grid;
    grid-template-areas: 
    "copyright social";
}

.copyright{
    padding: 20px;
}

.socials{
    justify-self: right;
    display: grid;
    grid-template-areas:
    "social social social";
    gap: 10px;
    padding: 20px;
}

.footer-text{
    color: black;
    margin: 0;
    transition: color .2s;
}

.footer-text-link{
    color: black;
    margin: 0;
    transition: color .2s;
}

.footer-text-link:link {
    text-decoration: none;
}

.footer-text-link:visited {
    text-decoration: none;
}

.footer-text-link:hover {
    color: gray;
}